# ===================================== #

# Visual Studio / MonoDevelop generated #

# ===================================== #

ExportedObj/

*.svd

*.userprefs

*.csproj

*.pidb

*.suo

*.sln

*.user

*.unityproj

*.booproj



# ============ #

# OS generated #

# ============ #

.DS_Store

.DS_Store?

._*

.Spotlight-V100

.Trashes

Icon?

ehthumbs.db

Thumbs.db


# ============ #

# Add Ignore format!! 

# ============ #

*.log

*.tlog

*.exe

[FancyPlanet]_Client/.vs/FancyPlanet/v15
[FancyPlanet]_Client/x64

[FancyPlanet]_Server/.vs/FancyPlanet/v15
[FancyPlanet]_Server/x64

*.ipch

*.pdb

*.db

*.pch

*.idb

*.ilk
